# 5 리스트

 * 임의의 객체 저장소(container)
 * 변경 가능
 * 크기 자유롭게 조절
 * 시퀀스 자료형 (기본 연산 공통)
 * 다양한 메서드

## 5.1 리스트 생성

리스트의 정의는 `[]` 괄호를 이용한다.

In [1]:
a = [] # 빈 리스트
a = [1, 2, "Great"]

문자열인 경우 `split` 메서드도 리스트를 생성해낸다.

In [2]:
'python is so good'.split()  # 문자열을 분리해서 리스트로

['python', 'is', 'so', 'good']

다른 자료형에서 리스트를 생성하는 방법은 `list` 함수를 이용하는 것이다. 
`list()` 함수를 이용하면 인덱싱이 가능한 시퀀스 자료형을 리스트로 변화시킬 수 있다.

In [3]:
list('abcd')   # 문자열에서 리스트로

['a', 'b', 'c', 'd']

In [4]:
list( (1,2,3,4) )  # 튜플에서 리스트로

[1, 2, 3, 4]

In [7]:
s = set([1,2,3,4])
list(s)   # 집합에서 리스트로

[1, 2, 3, 4]

In [8]:
list(range(4))  # range 객체를 리스트로

[0, 1, 2, 3]

In [9]:
dic = {'one':1, 'two':2, 'three':3}
list(dic)   # 사전을 키 값의 리스로

['one', 'two', 'three']

In [10]:
list(dic.items())  # (키, 값) 쌍의 리스트로

[('one', 1), ('two', 2), ('three', 3)]

In [11]:
list(dic.values())  # 값의 리스트로

[1, 2, 3]

## 5.2 기본 연산

시퀀스 자료형에 따른 기본 연산이 가능하다.
인덱싱, 슬라이싱의 예이다.

In [14]:
print(a)
print(a[0], a[-1]) # 인덱싱

[1, 2, 'Great']
1 Great

In [15]:
print(a[1:3], a[:]) # 슬라이싱

[2, 'Great'] [1, 2, 'Great']

확장 슬라이싱은 [start:stop:step]으로 표현되며 시작 값, 끝 값, 간격을 의미한다.

In [16]:
L = list(range(10))
L[::2] # 확장 슬라이싱

[0, 2, 4, 6, 8]

반복하기, 연결하기, 길이정보, 멤버십 테스트 연산도 지원한다.

In [17]:
a * 2 # 반복하기

[1, 2, 'Great', 1, 2, 'Great']

In [18]:
a + [3, 4, 5] # 연결하기

[1, 2, 'Great', 3, 4, 5]

In [19]:
len(a) # 리스트의 길이 정보

3

In [20]:
4 in L # 멤버 검사

True

리스트는 변경가능 자료형이므로 값을 바꿀 수 있다.

In [21]:
a = ['spam', 'eggs', 100, 1234]
a[2] += 23
a

['spam', 'eggs', 123, 1234]

del 명령으로 한 항목 혹은 구간을 삭제할 수 있다.

In [22]:
del a[0]  # 한 항목 삭제
a

['eggs', 123, 1234]

In [23]:
del a[0:2]  # 구간 삭제
a

[1234]

## 5.3 중첩 리스트

리스트 안에 또 다른 리스트가 포함 되어 있는 경우

In [24]:
s = [1, 2, 3]
t = ['begin', s, 'end'] # 중첩 리스트
t

['begin', [1, 2, 3], 'end']

In [25]:
t[1]

[1, 2, 3]

In [26]:
t[1][1]

2

In [27]:
s[1] = 100
t

['begin', [1, 100, 3], 'end']

리스트는 복합 자료형을 포함하여 어떠한 자료형도 포함할 수 있다.

In [28]:
L = [('one', 1), ('two', 2), ('three', 3)]

In [29]:
L = [{'one':1, 'two':2}, {'하나':1, '둘':2}]

## 5.4 리스트 메서드

리스트 객체는 내장 함수로 유용한 메서드를 여러 개 가지고 있다. 다음 목록에서 이들 메서드를
확인해보자.

* `append`: 데이터를 리스트 끝에 추가한다.
* `insert`: 데이터를 지정한 위치에 삽입한다.
* `index`: 요소를 검색한다.
* `count`: 요소의 개수를 알아낸다.
* `sort`: 리스트를 정렬한다.
* `reverse`: 리스트의 순서를 바꾼다.
* `remove`: 리스트의 지정한 값 하나를 삭제한다.
* `pop`: 리스트의 지정한 값 하나를 읽어 내고 삭제한다.
* `extend`: 리스트를 추가한다.

In [30]:
s = [1, 2, 3]

In [31]:
s.append(5)   # 5를 오른쪽 끝에 추가한다
s

[1, 2, 3, 5]

데이터 모으기에 많이 사용

In [32]:
L = []
for i in range(10):
    L.append(i*i)
L

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [33]:
s.insert(3, 4)  # 3번 위치에 4를 추가한다
s

[1, 2, 3, 4, 5]

In [34]:
s.index(3)  # 3의 위치는?

2

In [35]:
s.count(2) # 값 2의 개수는?

1

In [36]:
s.reverse( ) # 리스트의 순서를 뒤집는다. 반환 값이 없다.

In [37]:
s

[5, 4, 3, 2, 1]

In [38]:
s.sort( ) # 리스트를 정렬한다. 반환 값이 없다.

In [39]:
s

[1, 2, 3, 4, 5]

In [40]:
s = [10, 20, 30, 40, 50]

In [41]:
s.remove(10) # 값 10을 삭제한다. 여러 개이면 처음 것만 삭제한다.
s

[20, 30, 40, 50]

In [42]:
s.remove(10)

ValueError: list.remove(x): x not in list

더 이상 삭제할 값이 없으면 `ValueError`가 발생한다.
예외는 다음과 같이 `try-except` 문으로 처리할 수 있다.

In [43]:
try:
    s.remove(10)
except ValueError:
    print('no more 10')

no more 10

In [44]:
s.pop()  # 맨 오른쪽 위치에서 값을 하나 꺼낸다.

50

In [45]:
s.pop(0) # 맨 왼쪽 위치에서 값을 하나 꺼낸다.

20

In [46]:
s

[30, 40]

In [47]:
s.extend([60, 70]) # 리스트[60, 70]을 뒤쪽으로 풀어서 추가한다.
s

[30, 40, 60, 70]

`append`와의 차이점을 분명히 해야 한다.

In [48]:
s.append([60, 70])
s

[30, 40, 60, 70, [60, 70]]

### 5.4.1 퀴즈

1. `random` 모듈의 `randint` 함수는 정수 난수를 생성해 낸다. 리스트 변수 `L`에 10 개의 값을 저장해보자.
        import random

        random.randint(0, 100)

1. 위 문제에서 난수가 50이상이면 리스트 `L`의 오른쪽 끝에, 50 미만이면 왼쪽 끝에 추가하도록 코드를 수정해보자.

## 5.5 정렬

리스트를 정렬하는데는 리스트의 `sort()` 메서드를 사용하거나 `sorted()` 함수를 사용한다.
`sort()` 메서드는 데이터를 내부적으로 정렬하기 때문에 리턴 값이 없다. 하지만 `sorted()` 함수는 리스트 내부의 순서는 변경하지 않으면서 정렬된 새로운 리스트를 리천하는 것이 큰 차이다.

In [49]:
L = [1, 5, 3, 9, 8, 4, 2]
L.sort()#여기까지는 in place로 이루어지므로 볼 수 없다
L

[1, 2, 3, 4, 5, 8, 9]

만일 역순으로 정렬 하기를 원하면 다음과 같이 `sort()` 메서드에 `reverse` 키워드를 사용한다.

In [50]:
L.sort(reverse=True)
L

[9, 8, 5, 4, 3, 2, 1]

반면 `sorted()` 함수는 정렬된 리스트를 리턴한다.

In [51]:
sorted(L)

[1, 2, 3, 4, 5, 8, 9]

L은 변함이 없다.

In [52]:
L

[9, 8, 5, 4, 3, 2, 1]

`key` 키워드를 이용하면 사용자가 원하는 정렬 기준으로 변경할 수 있다. `key` 인수는 한 개의 인수를 받는 함수이며, 이 함수가 리턴 하는 값이 정렬 기준이 된다. 모든 데이터는 `key` 로 지정된 함수를 거쳐 나온 값을 기준으로 정렬된다. 예를 들어 소문자를 기준으로 영단어들을 정렬하고 싶다고 하자. 그렇다면 모든 값들을 소문자로 변환해서 비교해야 한다. 따라서 소문자로 변경하는 함수를 `key` 옵션으로 전달하면 된다.

In [62]:
L = 'Python is a Programming Language'.split( ) # 문자열 리스트이다.
sorted(L)

['Language', 'Programming', 'Python', 'a', 'is']

In [63]:
def to_lower(s):
    return s.lower()

L = 'Python is a Programming Language'.split( )
sorted(L, key=to_lower)

['a', 'is', 'Language', 'Programming', 'Python']

In [64]:
#람다로 해보면 굳이 to_lower이라는 걸 안써도 된다.
sorted (L, key=lambda s: s.lower())

['a', 'is', 'Language', 'Programming', 'Python']

문자열 객체에 이미 소문자로 변환하는 메서드가 있다. 따라서 함수를 정의하지 않고 다음과 같이 `lower()` 메서드를 이용할 수도 있다.

In [55]:
str.lower('ABC')

'abc'

In [56]:
sorted(L, key=str.lower)

['a', 'is', 'Language', 'Programming', 'Python']

숫자로 된 문자열들을 정렬하면 어떤 결과가 될까?

In [57]:
L = ['123', '34', '56', '2345']
sorted(L)

['123', '2345', '34', '56']

이 것은 사전식으로 정렬이라면 위의 결과가 맞다. 하지만 그 안에 들어있는 숫자의 의미대로 정렬하고 싶다면 다음과 같이 할 수 있다.
`int()` 함수는 문자열을 숫자로 바꿔준다.

In [58]:
sorted(L, key=int)

['34', '56', '123', '2345']

다음 예는 정렬 기준을 어떤 수를 3으로 나누었을 때의 나머지로 한다. 즉, 나머지가 0인 9가 나머지가 1인 4보다 앞에 나오도록 정렬한다.
모든 숫자는 `mykey( )` 함수를 적용한 결괏값에 따라서 비교하고 정렬한다.

In [59]:
def mykey(a):
    return a % 3

L = [1, 5, 3, 9, 8, 4, 2]
sorted(L, key = mykey)

[3, 9, 1, 4, 5, 8, 2]

독특한 함수 **람다(`Lambda`)**가 있다. `lambda`는 한 줄로 된 함수이다. 다음 형식으로 구성된다.

        lambda 입력: 출력식

In [65]:
lambda x: x*2

In [66]:
f = lambda x: x*2
f(4)

8

`lambda` 함수를 사용하여 즉시 정의된 함수를 `key` 인수에 넘길 수 있다.

### 5.5.1 퀴즈

1. 다음 데이터는 (이름, 경력, 나이)로 구성되어 있다. 1) 경력순 2) 나이순으로 데이터를 정렬해 보자.

        L = [ ('김형옥', 5, 38), ('김찬예', 3, 28), ('장성환', 10, 36) ]

In [68]:
L = [1, 5, 3, 9, 8, 4, 2]
sorted(L, key=lambda a: (a % 3, a))

[3, 9, 1, 4, 2, 5, 8]

In [74]:
L = [ ('김형옥', 5, 38), ('김찬예', 3, 28), ('장성환', 10, 36) ]
sorted(L, key= lambda s :(s[1]))

[('김찬예', 3, 28), ('김형옥', 5, 38), ('장성환', 10, 36)]

In [75]:
#이건 정의를 내려서 하는 방법
def compare(data):
    return data[1], -data[2]
sorted(L, key=compare)

[('김찬예', 3, 28), ('김형옥', 5, 38), ('장성환', 10, 36)]

`reversed`를 이용하면 리스트를 역순으로 참조할 수 있다. `sorted`와 마찬가지로 리스트의 내부 순서를 변경하지 않으며 새로운 순서의 반복자 객체를 반환한다.

In [76]:
L = [1, 5, 3, 9, 8, 4, 2]
reversed(L)

 * 반복자
   * 요청에 따라 순차적인 데이터를 공급해주는 객체
   * next() 메서드
   * 게으른 계산(lazy evaluation) 수행
   * 출력 값을 필요로 하는 시점에서 값을 계산


반복자 객체는 `for` 루프에 사용가능하다.

In [77]:
for ele in reversed(L):
    print(ele, end=' ')

2 4 8 9 3 5 1

## 5.6 리스트 내장

리스트 내장(List Comprehension)은 시퀀스 자료형으로 부터 리스트를 쉽게 만드는데 유용하다. 
리스트 내장을 이용하여 0부터 9까지 수의 제곱의 리스트를 만들어 보자.

In [78]:
[k * k for k in range(10)]

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

<img src="img/list_comprehension1.png" width="400">

앞의 코드는 다음과 같이 `for` 문을 이용하여 리스트를 만드는 것과 같다.

In [79]:
L = []
for k in range(10):
    L.append(k * k)
L

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

조건식을 마지막에 추가하면 조건식이 `True`인 경우에 한해서 데이터가 수집된다. 다음 예는 홀수 제곱의 리스트를 만든다.

In [80]:
[k * k for k in range(10) if k % 2 == 1]

[1, 9, 25, 49, 81]

### 5.6.1 퀴즈

1. 리스트 내장을 이용하여 1~100 숫자에서 3의 배수이거나 5의 배수인 것만 추출해보자.
1. 리스트 내장을 이용하여 `['Python', '', 'the', 'best', '', 'programming', '', 'language']` 와 같이 중간에 섞여 있는 공 문자열을 제거해보자.

In [92]:
[l * l for l in range(1,10) if l/2==]

[]